@container_width: 960px;
@column_count: 12;
@column_margin: 10px;

.clearfix {
	zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

.container {
	width: @container_width;
	margin: 0 auto;
	.clearfix;
}

.column(@number) {
	width: @number * @container_width / @column_count - (@column_margin * 2);
	display: inline;
	float: left;
	margin-right: @column_margin;
	margin-left: @column_margin;
}

.push(@number) {
	position: relative;
	left: @number * @container_width / @column_count + (@column_margin * 2);
}

.pull(@number) {
	position: relative;
	left: -@number * @container_width / @column_count + (@column_margin * 2);
}

.first { margin-left: 0; }

.last { margin-right: 0; }

.clear { clear: both; }